<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Watch .. Morning rains soften the atmosphere of Tabuk</span>">شاهد.. أمطار صباحية تلطف أجواء تبوك</h3><div>

<h2 data-translation="<span>The Civil Defense warned against going down into the valleys</span>">الدفاع المدني حذّر من النزول إلى بطون الأودية</h2>

<p data-translation="<span>In the morning, moderate to mild rain fell on the Tabuk area, cooling the atmosphere, clouds and clouds formed.</span>">هطلت، صباح اليوم، أمطار متوسطة إلى خفيفة على منطقة تبوك، أدت إلى تلطيف الأجواء، كما تَشَكّلت السحب والغيوم.</p>  <p data-translation="<span>The Civil Defense had warned citizens and residents, when going out for a walk, to stay away from the places of water pools and valleys.</span>">وكان الدفاع المدني قد حذّر المواطنين والمقيمين، عند الخروج للتنزه، بالابتعاد عن أماكن تجمعات المياه وبطون الأودية.</p>


</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Watch .. Morning rains soften the atmosphere of Tabuk</span>">شاهد.. أمطار صباحية تلطف أجواء تبوك</p>
<span itemprop="author">نواف الغضوري</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-05 </span>
<div itemprop="articleBody">
<p data-translation="<span>In the morning, moderate to mild rain fell on the Tabuk area, cooling the atmosphere, clouds and clouds formed.</span>">هطلت، صباح اليوم، أمطار متوسطة إلى خفيفة على منطقة تبوك، أدت إلى تلطيف الأجواء، كما تَشَكّلت السحب والغيوم.</p>  <p data-translation="<span>The Civil Defense had warned citizens and residents, when going out for a walk, to stay away from the places of water pools and valleys.</span>">وكان الدفاع المدني قد حذّر المواطنين والمقيمين، عند الخروج للتنزه، بالابتعاد عن أماكن تجمعات المياه وبطون الأودية.</p>
</div>
</div>
<div>
<p data-translation="<span>05 April 2018 - 19 Rajab 1439</span>">   05 إبريل 2018 - 19 رجب 1439 </p>
<p data-translation="<span>The time now is 09:47<span id=&quot;_0&quot;>AM</span> </span>">  09:47 <span id="_0" data-translation="AM">AM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>The Civil Defense warned against going down into the valleys</span>">الدفاع المدني حذّر من النزول إلى بطون الأودية</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac5c59ea2e840862a8ec73f" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac5c656ef9d14962f8b45e2/5ac5c59e13f72.jpg" alt="">

</div>

<p data-translation="<span>In the morning, moderate to mild rain fell on the Tabuk area, cooling the atmosphere, clouds and clouds formed.</span>">هطلت، صباح اليوم، أمطار متوسطة إلى خفيفة على منطقة تبوك، أدت إلى تلطيف الأجواء، كما تَشَكّلت السحب والغيوم.</p>  <p data-translation="<span>The Civil Defense had warned citizens and residents, when going out for a walk, to stay away from the places of water pools and valleys.</span>">وكان الدفاع المدني قد حذّر المواطنين والمقيمين، عند الخروج للتنزه، بالابتعاد عن أماكن تجمعات المياه وبطون الأودية.</p>

</div></div>