<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>&quot;Meteorology&quot;: Troubled soils cause almost no vision of the Medina</span>">"الأرصاد": أتربة مثارة تتسبب في شبه انعدام للرؤية على المدينة المنورة</h3><div>

<h2 data-translation="<span>Including Yanbu, Rais, Alayas, Khaybar and neighboring parts, and continue for Friday dawn</span>">تشمل ينبع والرايس والعيص وخيبر والأجزاء المجاورة وتستمر لفجر الجمعة</h2>

<p data-translation="<span>The General Authority for Meteorology and Environmental Protection issued a warning ahead of the creation of a dusty soil causing a near-lack of visibility of less than one kilometer on the Medina area.</span>">أصدرت الهيئة العامة للأرصاد وحماية البيئة تنبيها متقدما بهبوب أتربة مثارة تتسبب في شبة انعدام الرؤية تصل إلى أقل من واحد كيلو متر على منطقة المدينة المنورة.</p>  <p data-translation="<span>The &quot;meteorology&quot; that the alarm includes Yanbu, Rais, Alayas and Khaybar and the adjacent parts, noting that the situation continues until three o'clock on Friday morning.</span>">وأوضحت "الأرصاد" أن التنبيه يشمل ينبع والرايس والعيص وخيبر والأجزاء المجاورة لها، مشيرة إلى أن الحالة تستمر حتى الساعة الثالثة من فجر غد الجمعة.</p>
</div><div>
<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>&quot;Meteorology&quot;: Troubled soils cause almost no vision of the Medina</span>">"الأرصاد": أتربة مثارة تتسبب في شبه انعدام للرؤية على المدينة المنورة</p>
<span itemprop="author">صحيفة سبق الإلكترونية</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-03-29 </span>
<div itemprop="articleBody">
<p data-translation="<span>The General Authority for Meteorology and Environmental Protection issued a warning ahead of the creation of a dusty soil causing a near-lack of visibility of less than one kilometer on the Medina area.</span>">أصدرت الهيئة العامة للأرصاد وحماية البيئة تنبيها متقدما بهبوب أتربة مثارة تتسبب في شبة انعدام الرؤية تصل إلى أقل من واحد كيلو متر على منطقة المدينة المنورة.</p>  <p data-translation="<span>The &quot;meteorology&quot; that the alarm includes Yanbu, Rais, Alayas and Khaybar and the adjacent parts, noting that the situation continues until three o'clock on Friday morning.</span>">وأوضحت "الأرصاد" أن التنبيه يشمل ينبع والرايس والعيص وخيبر والأجزاء المجاورة لها، مشيرة إلى أن الحالة تستمر حتى الساعة الثالثة من فجر غد الجمعة.</p>
</div>
</div>
<div>
<p data-translation="<span>29 March 2018 - 12 Rajab 1439</span>">   29 مارس 2018 - 12 رجب 1439 </p>
<p data-translation="<span>The time now is 09:03<span id=&quot;_0&quot;>PM</span> </span>">  09:03 <span id="_0" data-translation="PM">PM</span> </p>
</div>

<hr>
<p data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Including Yanbu, Rais, Alayas, Khaybar and neighboring parts, and continue for Friday dawn</span>">تشمل ينبع والرايس والعيص وخيبر والأجزاء المجاورة وتستمر لفجر الجمعة</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist" id="5abd2a48e40a5642b7a2f073" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5abd2a51c3794b06bc475be3/5abd2a4880bee.jpg" alt="">

</div>

<p data-translation="<span>The General Authority for Meteorology and Environmental Protection issued a warning ahead of the creation of a dusty soil causing a near-lack of visibility of less than one kilometer on the Medina area.</span>">أصدرت الهيئة العامة للأرصاد وحماية البيئة تنبيها متقدما بهبوب أتربة مثارة تتسبب في شبة انعدام الرؤية تصل إلى أقل من واحد كيلو متر على منطقة المدينة المنورة.</p>  <p data-translation="<span>The &quot;meteorology&quot; that the alarm includes Yanbu, Rais, Alayas and Khaybar and the adjacent parts, noting that the situation continues until three o'clock on Friday morning.</span>">وأوضحت "الأرصاد" أن التنبيه يشمل ينبع والرايس والعيص وخيبر والأجزاء المجاورة لها، مشيرة إلى أن الحالة تستمر حتى الساعة الثالثة من فجر غد الجمعة.</p>

</div></div>