<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>公共检察官办公室证实：保持虐待的状态信息的保密性</span>">النيابة العامة تؤكد: الحفاظ على سرية المعلومات عن حالة الإيذاء</h3><div>

<h2 data-translation="<span>除非获得其同意，否则该金额的身份不得公开</span>">لا يجوز الإفصاح عن هوية المبلغ إلا برضاه</h2>

<p data-translation="<span>公诉机关证实，关于虐待的情况下，信息的保密性，并表示不允许披露的受虐待的状态量的身份未经他同意。</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>在此之前在推特上的“推特”的官方账户公诉人，其中她说：“任何人看到 - 凭借他的工作 - 对虐待的案件信息，他必须维护保密，不得泄露的危害未经他同意的情况下，量的标识。”</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>

</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>公共检察官办公室证实：保持虐待的状态信息的保密性</span>">النيابة العامة تؤكد: الحفاظ على سرية المعلومات عن حالة الإيذاء</p>
<span itemprop="author">صحيفة سبق الإلكترونية</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-03 </span>
<div itemprop="articleBody">
<p data-translation="<span>公诉机关证实，关于虐待的情况下，信息的保密性，并表示不允许披露的受虐待的状态量的身份未经他同意。</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>在此之前在推特上的“推特”的官方账户公诉人，其中她说：“任何人看到 - 凭借他的工作 - 对虐待的案件信息，他必须维护保密，不得泄露的危害未经他同意的情况下，量的标识。”</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>
</div>
</div>
<div>
<p data-translation="<span>03年4月3日 -  17拉贾布</span>">   03 إبريل 2018 - 17 رجب 1439 </p>
<p data-translation="<span>现在的时间是上午 07:05<span id=&quot;_0&quot;></span> </span>">  07:11 <span id="_0" data-translation="">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>除非获得其同意，否则该金额的身份不得公开</span>">لا يجوز الإفصاح عن هوية المبلغ إلا برضاه</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac3a60de40a563fc6bc466a" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3a625262d6b95503ce798/5ac3a60d77e98.png" alt="">

</div>

<p data-translation="<span>公诉机关证实，关于虐待的情况下，信息的保密性，并表示不允许披露的受虐待的状态量的身份未经他同意。</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>在此之前在推特上的“推特”的官方账户公诉人，其中她说：“任何人看到 - 凭借他的工作 - 对虐待的案件信息，他必须维护保密，不得泄露的危害未经他同意的情况下，量的标识。”</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>

</div></div>