<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>阿米尔阿西尔评论该地区所有省份的研究报告</span>">أمير عسير يوجه بتعليق الدراسة في جميع محافظات&nbsp;المنطقة</h3><div>

<h2 data-translation="<span>根据气象报告和学生的安全</span>">بناء على تقارير الأرصاد وحرصاً على سلامة الطلاب والطالبات</h2>

<p data-translation="<span>由于气象主管部门的报告以及为了我们学生的安全和所有人的安全，阿米尔·阿西尔王子费萨尔·本·哈立德王子星期二在所有男孩和女孩省的公立和大学教育中暂停了这项研究。</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>
</div><div>
<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>阿米尔阿西尔评论该地区所有省份的研究报告</span>">أمير عسير يوجه بتعليق الدراسة في جميع محافظات&nbsp;المنطقة</p>
<span itemprop="author">سعود الدعجاني</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-02 </span>
<p data-translation="<span>由于气象主管部门的报告以及为了我们学生的安全和所有人的安全，阿米尔·阿西尔王子费萨尔·本·哈立德王子星期二在所有男孩和女孩省的公立和大学教育中暂停了这项研究。</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>
</div>
<div>
<p data-translation="<span>2018年4月02日 -  16拉吉布1439</span>">   02 إبريل 2018 - 16 رجب 1439 </p>
<p data-translation="<span>现在的时间是09:06<span id=&quot;_0&quot;>AM</span> </span>">  09:06 <span id="_0" data-translation="AM">PM</span> </p>
</div>
<div>
<span> اخر تعديل</span>
<p data-translation="<span>2018年4月02日 -  16拉吉布1439</span>">  02 إبريل 2018 - 16 رجب 1439</p>
<p data-translation="<span>现在的时间是09:19<span id=&quot;_1&quot;>PM</span> </span>">  09:19 <span id="_1" data-translation="PM">PM</span> </p>
</div>

<hr>
<p data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>根据气象报告和学生的安全</span>">بناء على تقارير الأرصاد وحرصاً على سلامة الطلاب والطالبات</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist" id="5ac270e8262d6bbb4f3ce759" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac2719cef9d14f62d8b4568/5ac270e844fff.jpg" alt="">

</div>

<p data-translation="<span>由于气象主管部门的报告以及为了我们学生的安全和所有人的安全，阿米尔·阿西尔王子费萨尔·本·哈立德王子星期二在所有男孩和女孩省的公立和大学教育中暂停了这项研究。</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>

</div></div>