<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>La Fiscalía Afirma: Mantener la confidencialidad de la información sobre el caso de abuso</span>">النيابة العامة تؤكد: الحفاظ على سرية المعلومات عن حالة الإيذاء</h3><div>

<h2 data-translation="<span>La identidad del monto no puede ser revelada excepto con su consentimiento</span>">لا يجوز الإفصاح عن هوية المبلغ إلا برضاه</h2>

<p data-translation="<span>El Ministerio Público confirmó la confidencialidad de la información sobre el caso de victimización y dijo que la identidad del monto del abuso debe divulgarse solo con su consentimiento.</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>&quot;Cualquier persona que tenga información sobre el estado de la victimización debe mantenerse confidencial, y la identidad del monto del abuso puede revelarse solo a su consentimiento&quot;, dijo en un ajuste al Ministerio Público en su cuenta oficial de Twitter.</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>

</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>La Fiscalía Afirma: Mantener la confidencialidad de la información sobre el caso de abuso</span>">النيابة العامة تؤكد: الحفاظ على سرية المعلومات عن حالة الإيذاء</p>
<span itemprop="author">صحيفة سبق الإلكترونية</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-03 </span>
<div itemprop="articleBody">
<p data-translation="<span>El Ministerio Público confirmó la confidencialidad de la información sobre el caso de victimización y dijo que la identidad del monto del abuso debe divulgarse solo con su consentimiento.</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>&quot;Cualquier persona que tenga información sobre el estado de la victimización debe mantenerse confidencial, y la identidad del monto del abuso puede revelarse solo a su consentimiento&quot;, dijo en un ajuste al Ministerio Público en su cuenta oficial de Twitter.</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>
</div>
</div>
<div>
<p data-translation="<span>03 de abril de 2018 - 17 Rajab</span>">   03 إبريل 2018 - 17 رجب 1439 </p>
<p data-translation="<span>Ahora son las 07:05<span id=&quot;_0&quot;>a.m.</span> </span>">  07:11 <span id="_0" data-translation="a.m.">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>La identidad del monto no puede ser revelada excepto con su consentimiento</span>">لا يجوز الإفصاح عن هوية المبلغ إلا برضاه</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac3a60de40a563fc6bc466a" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3a625262d6b95503ce798/5ac3a60d77e98.png" alt="">

</div>

<p data-translation="<span>El Ministerio Público confirmó la confidencialidad de la información sobre el caso de victimización y dijo que la identidad del monto del abuso debe divulgarse solo con su consentimiento.</span>">أكدت النيابة العامة على سرية المعلومات عن حالة الإيذاء، وقالت إنه لا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه.</p>  <p data-translation="<span>&quot;Cualquier persona que tenga información sobre el estado de la victimización debe mantenerse confidencial, y la identidad del monto del abuso puede revelarse solo a su consentimiento&quot;, dijo en un ajuste al Ministerio Público en su cuenta oficial de Twitter.</span>">جاء ذلك في تغريدة للنيابة العامة على حسابها الرسمي في موقع "تويتر"، قالت فيها: "كل من يطّلع - بحكم عمله - على معلومات عن حالة الإيذاء فيجب عليه المحافظة على سريتها ، ولا يجوز الإفصاح عن هوية المبلغ عن حالة إيذاء إلا برضاه."</p>

</div></div>