<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Video .. Lluvia al este de Mahail .. Las cataratas y las inundaciones aíslan algunas aldeas</span>">فيديو.. أمطار شرق محايل.. شلالات وسيول تعزل بعض القرى</h3><div>

<h2 data-translation="<span>Seguido por una serie de valles y arrecifes y acompañado de fuertes vientos</span>">جرى على إثرها عدد من الأودية والشعاب وصاحبتها رياح شديدة</h2>

<p data-translation="<span>Las lluvias que afectaron a una serie de aldeas en la ciudad oriental de Mahayel ayer por la noche fueron grandes caídas y se detuvo por los asistentes a la carretera.</span>">شكّلت الأمطار التي هطلت على عدد من قرى محايل الشرقية، مساء أمس، شلالات كبيرة وقف أمامها عابرو طرق محايل أبها.</p> <p data-translation="<span>Varios wadis y arrecifes fueron azotados por las lluvias, incluidos Wadi Tih y Wadi Farahat. Estas lluvias torrenciales llevaron al aislamiento de algunas aldeas.</span>">وجرى على إثر تلك الأمطار عدد من الأودية والشعاب؛ بينها وادي تيه ووادي فرشاط، وأدت تلك السيول الجارفة إلى عزل بعض القرى.</p> <p data-translation="<span>La lluvia coincidió con los fuertes vientos y cayó una cantidad de pinturas.</span>">وتزامن مع الأمطار رياح شديدة سقط بسببها عدد من اللوحات.</p>




<a href="https://www.youtube.com/watch?v=mwoXYiM165M"></a>
</div><div>
<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Video .. Lluvia al este de Mahail .. Las cataratas y las inundaciones aíslan algunas aldeas</span>">فيديو.. أمطار شرق محايل.. شلالات وسيول تعزل بعض القرى</p>
<span itemprop="author">محمد طيران</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-03 </span>
<div itemprop="articleBody">
<p data-translation="<span>Las lluvias que afectaron a una serie de aldeas en la ciudad oriental de Mahayel ayer por la noche fueron grandes caídas y se detuvo por los asistentes a la carretera.</span>">شكّلت الأمطار التي هطلت على عدد من قرى محايل الشرقية، مساء أمس، شلالات كبيرة وقف أمامها عابرو طرق محايل أبها.</p> <p data-translation="<span>Varios wadis y arrecifes fueron azotados por las lluvias, incluidos Wadi Tih y Wadi Farahat. Estas lluvias torrenciales llevaron al aislamiento de algunas aldeas.</span>">وجرى على إثر تلك الأمطار عدد من الأودية والشعاب؛ بينها وادي تيه ووادي فرشاط، وأدت تلك السيول الجارفة إلى عزل بعض القرى.</p> <p data-translation="<span>La lluvia coincidió con los fuertes vientos y cayó una cantidad de pinturas.</span>">وتزامن مع الأمطار رياح شديدة سقط بسببها عدد من اللوحات.</p>
</div>
</div>
<div>
<p data-translation="<span>03 de abril de 2018 - 17 Rajab</span>">   03 إبريل 2018 - 17 رجب 1439 </p>
<p data-translation="<span>La hora actual es: 03:22<span id=&quot;_0&quot;>AM</span> </span>">  03:22 <span id="_0" data-translation="AM">AM</span> </p>
</div>

<hr>
<p data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Seguido por una serie de valles y arrecifes y acompañado de fuertes vientos</span>">جرى على إثرها عدد من الأودية والشعاب وصاحبتها رياح شديدة</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist" id="5ac2c835262d6b3f4f3ce767" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac2c857a2e8402a72ea7514/5ac2c835cedba.jpg" alt="">

</div>

<p data-translation="<span>Las lluvias que afectaron a una serie de aldeas en la ciudad oriental de Mahayel ayer por la noche fueron grandes caídas y se detuvo por los asistentes a la carretera.</span>">شكّلت الأمطار التي هطلت على عدد من قرى محايل الشرقية، مساء أمس، شلالات كبيرة وقف أمامها عابرو طرق محايل أبها.</p> <p data-translation="<span>Varios wadis y arrecifes fueron azotados por las lluvias, incluidos Wadi Tih y Wadi Farahat. Estas lluvias torrenciales llevaron al aislamiento de algunas aldeas.</span>">وجرى على إثر تلك الأمطار عدد من الأودية والشعاب؛ بينها وادي تيه ووادي فرشاط، وأدت تلك السيول الجارفة إلى عزل بعض القرى.</p> <p data-translation="<span>La lluvia coincidió con los fuertes vientos y cayó una cantidad de pinturas.</span>">وتزامن مع الأمطار رياح شديدة سقط بسببها عدد من اللوحات.</p>

</div></div>