<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Ջեդդայի քարտուղարը հասարակությունից պահանջում է ընտրել Անդալուզիայի թունելի պատին զարդարելու օրինակներից մեկը</span>">أمين جدة يطالب الجمهور باختيار أحد الأنماط لتزيين حائط نفق الأندلس</h3><div>

<h2 data-translation="<span>Ներկայացրեք 3 տարբերակ `իր Twitter- ի էջում</span>">‏ طرح 3 اختيارات عبر صفحته على تويتر</h2>

<p data-translation="<span>Ջիդդայի քաղաքապետ, դոկտոր Հանի Աբու Ռասը ներկայացրեց երեք օրինակ `Անալուս թունելի պատը զարդարելու Պաղեստինյան եւ Կարմիր Խաչի թաղամասերի Աբդուլ Ազիզ փողոցում, որը նախատեսվում է ավարտել հաջորդ երկու ամիսների ընթացքում իր Twitter- ի էջով:</span>">طرح أمين محافظة جدة الدكتور هاني أبو راس ثلاثة أنماط لتزيين حائط نفق الأندلس في شارع الملك عبد العزيز بتقاطعي فلسطين والحمراء والذي من المتوقع الانتهاء منه خلال الشهرين المقبلين وذلك عبر صفحته على تويتر.</p>  <p data-translation="<span>Դոկտոր Աբու Ռասը կոչ է արել հետեւել իր մասնակցությանը Անդալուսիայի թունելի պատին ընտրված ցանկացած երեք օրինակին, որն այժմ իրականացվում է:</span>">وطالب الدكتور أبو راس مشاركة متابعيه في أي من الثلاثة أنماط تختار لحائط نفق الأندلس الجاري تنفيذه الآن.</p>  <p data-translation="<span>Աբու-Ռասի հարցման մասնակիցները առաջին հերթին հետեւեցին 36% -ին, 41% -ը `երկրորդի եւ 23-ի համար:</span>">وجاءت أصوات متابعي أبو راس بـ 36% للنمط الأول و41% للنمط الثاني و23 للنمط الثالث.</p> 


</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Ջեդդայի քարտուղարը հասարակությունից պահանջում է ընտրել Անդալուզիայի թունելի պատին զարդարելու օրինակներից մեկը</span>">أمين جدة يطالب الجمهور باختيار أحد الأنماط لتزيين حائط نفق الأندلس</p>
<span itemprop="author">عبدالله الراجحي</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>Ջիդդայի քաղաքապետ, դոկտոր Հանի Աբու Ռասը ներկայացրեց երեք օրինակ `Անալուս թունելի պատը զարդարելու Պաղեստինյան եւ Կարմիր Խաչի թաղամասերի Աբդուլ Ազիզ փողոցում, որը նախատեսվում է ավարտել հաջորդ երկու ամիսների ընթացքում իր Twitter- ի էջով:</span>">طرح أمين محافظة جدة الدكتور هاني أبو راس ثلاثة أنماط لتزيين حائط نفق الأندلس في شارع الملك عبد العزيز بتقاطعي فلسطين والحمراء والذي من المتوقع الانتهاء منه خلال الشهرين المقبلين وذلك عبر صفحته على تويتر.</p>  <p data-translation="<span>Դոկտոր Աբու Ռասը կոչ է արել հետեւել իր մասնակցությանը Անդալուսիայի թունելի պատին ընտրված ցանկացած երեք օրինակին, որն այժմ իրականացվում է:</span>">وطالب الدكتور أبو راس مشاركة متابعيه في أي من الثلاثة أنماط تختار لحائط نفق الأندلس الجاري تنفيذه الآن.</p>  <p data-translation="<span>Աբու-Ռասի հարցման մասնակիցները առաջին հերթին հետեւեցին 36% -ին, 41% -ը `երկրորդի եւ 23-ի համար:</span>">وجاءت أصوات متابعي أبو راس بـ 36% للنمط الأول و41% للنمط الثاني و23 للنمط الثالث.</p> 
</div>
</div>
<div>
<p data-translation="<span>04 ապրիլի 2018 թ. - 18 Ռաջաբ</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>07:36<span id=&quot;_0&quot;>AM</span> </span>">  07:36 <span id="_0" data-translation="AM">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Ներկայացրեք 3 տարբերակ `իր Twitter- ի էջում</span>">‏ طرح 3 اختيارات عبر صفحته على تويتر</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac4fe4351a7732b4de5e190" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac4fe4e51a773234de5e193/5ac4fe437fca9.jpg" alt="">

</div>

<p data-translation="<span>Ջիդդայի քաղաքապետ, դոկտոր Հանի Աբու Ռասը ներկայացրեց երեք օրինակ `Անալուս թունելի պատը զարդարելու Պաղեստինյան եւ Կարմիր Խաչի թաղամասերի Աբդուլ Ազիզ փողոցում, որը նախատեսվում է ավարտել հաջորդ երկու ամիսների ընթացքում իր Twitter- ի էջով:</span>">طرح أمين محافظة جدة الدكتور هاني أبو راس ثلاثة أنماط لتزيين حائط نفق الأندلس في شارع الملك عبد العزيز بتقاطعي فلسطين والحمراء والذي من المتوقع الانتهاء منه خلال الشهرين المقبلين وذلك عبر صفحته على تويتر.</p>  <p data-translation="<span>Դոկտոր Աբու Ռասը կոչ է արել հետեւել իր մասնակցությանը Անդալուսիայի թունելի պատին ընտրված ցանկացած երեք օրինակին, որն այժմ իրականացվում է:</span>">وطالب الدكتور أبو راس مشاركة متابعيه في أي من الثلاثة أنماط تختار لحائط نفق الأندلس الجاري تنفيذه الآن.</p>  <p data-translation="<span>Աբու-Ռասի հարցման մասնակիցները առաջին հերթին հետեւեցին 36% -ին, 41% -ը `երկրորդի եւ 23-ի համար:</span>">وجاءت أصوات متابعي أبو راس بـ 36% للنمط الأول و41% للنمط الثاني و23 للنمط الثالث.</p> 

</div></div>