<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Veja .. Cachoeiras &quot;Khabta&quot; e &quot;Nimesa&quot; Bseadir formam pinturas estéticas</span>">شاهد.. شلالات "الخباطة" و"النميساء" بسدير تشكِّل لوحات جمالية</h3><div>

<h2 data-translation="<span>As chuvas incluem: Jaljil, Tuwim, jardim de infância Sadir e de volta</span>">الأمطار شملت: جلاجل والتويم وروضة سدير والعودة</h2>

<p data-translation="<span>De Stock: Mohamed El Hadab</span>">تصوير: محمد الهداب</p> <p data-translation="<span>Chuvas esporádicas caíram em partes do Sudair ao norte da capital Riyadh, incluindo os centros de Jalajel e Altawim e o jardim de infância de Sudair e retornam, seguidos por vários vales e recifes.</span>"> هطلت مساء اليوم أمطار متفرقة على أجزاء من سدير شمال العاصمة الرياض، شملت مراكز جلاجل والتويم وروضة سدير والعودة؛ وجرى إثرها عدد من الأودية والشعاب.</p>  <p data-translation="<span>O Niamesa cai no jardim de infância de Shedir, as quedas de Khabta no centro de Al-Tawim, eram pinturas estéticas;</span>">وشكلت شلالات "النميساء" في روضة سدير، وشلالات "الخباطة" في مركز التويم، لوحات جمالية؛ شدت المتنزهين ومحبي البر.</p> 



<a href="https://www.youtube.com/watch?v=3tnZS7I9AVA"></a>
</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Veja .. Cachoeiras &quot;Khabta&quot; e &quot;Nimesa&quot; Bseadir formam pinturas estéticas</span>">شاهد.. شلالات "الخباطة" و"النميساء" بسدير تشكِّل لوحات جمالية</p>
<span itemprop="author">فلاح الجوفان</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>De Stock: Mohamed El Hadab</span>">تصوير: محمد الهداب</p> <p data-translation="<span>Chuvas esporádicas caíram em partes do Sudair ao norte da capital Riyadh, incluindo os centros de Jalajel e Altawim e o jardim de infância de Sudair e retornam, seguidos por vários vales e recifes.</span>"> هطلت مساء اليوم أمطار متفرقة على أجزاء من سدير شمال العاصمة الرياض، شملت مراكز جلاجل والتويم وروضة سدير والعودة؛ وجرى إثرها عدد من الأودية والشعاب.</p>  <p data-translation="<span>O Niamesa cai no jardim de infância de Shedir, as quedas de Khabta no centro de Al-Tawim, eram pinturas estéticas;</span>">وشكلت شلالات "النميساء" في روضة سدير، وشلالات "الخباطة" في مركز التويم، لوحات جمالية؛ شدت المتنزهين ومحبي البر.</p> 
</div>
</div>
<div>
<p data-translation="<span>04 de abril de 2018 - 18 Rajab</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>12:11<span id=&quot;_0&quot;>AM .</span> </span>">  12:11 <span id="_0" data-translation="AM .">AM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>As chuvas incluem: Jaljil, Tuwim, jardim de infância Sadir e de volta</span>">الأمطار شملت: جلاجل والتويم وروضة سدير والعودة</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac3ec628157362484a43b4f" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3ecac47be75380b8b456a/5ac3ec62dd9ba.jpg" alt="">

</div>

<p data-translation="<span>De Stock: Mohamed El Hadab</span>">تصوير: محمد الهداب</p> <p data-translation="<span>Chuvas esporádicas caíram em partes do Sudair ao norte da capital Riyadh, incluindo os centros de Jalajel e Altawim e o jardim de infância de Sudair e retornam, seguidos por vários vales e recifes.</span>"> هطلت مساء اليوم أمطار متفرقة على أجزاء من سدير شمال العاصمة الرياض، شملت مراكز جلاجل والتويم وروضة سدير والعودة؛ وجرى إثرها عدد من الأودية والشعاب.</p>  <p data-translation="<span>O Niamesa cai no jardim de infância de Shedir, as quedas de Khabta no centro de Al-Tawim, eram pinturas estéticas;</span>">وشكلت شلالات "النميساء" في روضة سدير، وشلالات "الخباطة" في مركز التويم، لوحات جمالية؛ شدت المتنزهين ومحبي البر.</p> 

</div></div>