<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Al-Ula的人民是祖國的殉道者“Faisal Al-Anzi”</span>">أهالي العلا يشيعون شهيد الوطن "فيصل العنزي"</h3><div>

<h2 data-translation="<span>省副省長向他的親屬轉交了“麥地那王子”的慰問</span>">وكيل المحافظة نقل تعازي "أمير المدينة" لذويه</h2>

<p data-translation="<span>今天，Al-Ula省的人民，在清真寺奧馬爾本哈塔卜地區大學祈禱後，成為祖國英雄“費薩爾·本·拉菲·本·阿瓦德·安齊”的烈士。</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>許多公民，官員和政府部門的負責人參加了葬禮。</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Al-Ulaa Faisal bin Hamad Al-Mutairi的代表向Madinah地區的省長費薩爾·賓·薩勒曼·本·阿卜杜勒阿齊茲王子向烈士的父親和兒子表示哀悼。</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>


</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Al-Ula的人民是祖國的殉道者“Faisal Al-Anzi”</span>">أهالي العلا يشيعون شهيد الوطن "فيصل العنزي"</p>
<span itemprop="author">بدر الجبل</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>今天，Al-Ula省的人民，在清真寺奧馬爾本哈塔卜地區大學祈禱後，成為祖國英雄“費薩爾·本·拉菲·本·阿瓦德·安齊”的烈士。</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>許多公民，官員和政府部門的負責人參加了葬禮。</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Al-Ulaa Faisal bin Hamad Al-Mutairi的代表向Madinah地區的省長費薩爾·賓·薩勒曼·本·阿卜杜勒阿齊茲王子向烈士的父親和兒子表示哀悼。</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>
</div>
</div>
<div>
<p data-translation="<span>2018年4月4日 -  18拉賈布</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>現在的時間是上午 12:09<span id=&quot;_0&quot;></span> </span>">  12:09 <span id="_0" data-translation="">AM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>省副省長向他的親屬轉交了“麥地那王子”的慰問</span>">وكيل المحافظة نقل تعازي "أمير المدينة" لذويه</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac3ea9f059c60f77982fc5b" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3eab1e40a562701460eeb/5ac3ea9f8527b.jpg" alt="">

</div>

<p data-translation="<span>今天，Al-Ula省的人民，在清真寺奧馬爾本哈塔卜地區大學祈禱後，成為祖國英雄“費薩爾·本·拉菲·本·阿瓦德·安齊”的烈士。</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>許多公民，官員和政府部門的負責人參加了葬禮。</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Al-Ulaa Faisal bin Hamad Al-Mutairi的代表向Madinah地區的省長費薩爾·賓·薩勒曼·本·阿卜杜勒阿齊茲王子向烈士的父親和兒子表示哀悼。</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>

</div></div>