<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>“環境”暫時禁止從荷蘭進口活禽</span>">"البيئة" تحظر مؤقتاً استيراد الطيور الحية من هولندا</h3><div>

<h2 data-translation="<span>“風險評估”主任：由於高風險流感的傳播</span>">مدير "تقييم المخاطر": بسبب انتشار مرض الإنفلونزا عالي الضراوة</h2>

<p data-translation="<span>由於高致病性禽流感，環境，水和農業部暫時禁止從荷蘭進口活禽，孵化蛋和雛雞。</span>">حظرت وزارة البيئة والمياه والزراعة، مؤقتاً، استيراد الطيور الحية وبيض التفقيس والصيصان من هولندا بسبب مرض إنفلونزا الطيور عالي الضراوة.</p>  <p data-translation="<span>該部動物風險評估局局長Sanad al-Harbi博士說：禁令是在研究世界動物衛生組織（<span id=&quot;_0&quot;>OIE</span>）發布的警告小冊子後發布的，該小冊子報導了高致病性禽流感病例的出現。</span>">وأوضح مدير عام إدارة تقييم مخاطر الثروة الحيوانية بالوزارة الدكتور سند الحربي؛ قائلاً: إن الحظر جاء بعد دراسة النشرة التحذيرية الصادرة من المنظمة العالمية للصحة الحيوانية (<span id="_0" data-translation="OIE">OIE</span>)، التي تفيد بظهور إصابات بمرض إنفلونزا الطيور عالي الضراوة فيها.</p>
</div><div>
<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>“環境”暫時禁止從荷蘭進口活禽</span>">"البيئة" تحظر مؤقتاً استيراد الطيور الحية من هولندا</p>
<span itemprop="author">صحيفة سبق الإلكترونية</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-03 </span>
<div itemprop="articleBody">
<p data-translation="<span>由於高致病性禽流感，環境，水和農業部暫時禁止從荷蘭進口活禽，孵化蛋和雛雞。</span>">حظرت وزارة البيئة والمياه والزراعة، مؤقتاً، استيراد الطيور الحية وبيض التفقيس والصيصان من هولندا بسبب مرض إنفلونزا الطيور عالي الضراوة.</p>  <p data-translation="<span>該部動物風險評估局局長Sanad al-Harbi博士說：禁令是在研究世界動物衛生組織（<span id=&quot;_1&quot;>OIE</span>）發布的警告小冊子後發布的，該小冊子報導了高致病性禽流感病例的出現。</span>">وأوضح مدير عام إدارة تقييم مخاطر الثروة الحيوانية بالوزارة الدكتور سند الحربي؛ قائلاً: إن الحظر جاء بعد دراسة النشرة التحذيرية الصادرة من المنظمة العالمية للصحة الحيوانية (<span id="_1" data-translation="OIE">OIE</span>)، التي تفيد بظهور إصابات بمرض إنفلونزا الطيور عالي الضراوة فيها.</p>
</div>
</div>
<div>
<p data-translation="<span>03年4月3日 -  17拉賈布</span>">   03 إبريل 2018 - 17 رجب 1439 </p>
<p data-translation="<span>10:57<span id=&quot;_2&quot;>AM 。</span> </span>">  10:57 <span id="_2" data-translation="AM 。">AM</span> </p>
</div>

<hr>
<p data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>“風險評估”主任：由於高風險流感的傳播</span>">مدير "تقييم المخاطر": بسبب انتشار مرض الإنفلونزا عالي الضراوة</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist" id="5ac333853f35215a2b8b457d" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3337d47be756b198b4599/5ac3338506fd9.png" alt="">

</div>

<p data-translation="<span>由於高致病性禽流感，環境，水和農業部暫時禁止從荷蘭進口活禽，孵化蛋和雛雞。</span>">حظرت وزارة البيئة والمياه والزراعة، مؤقتاً، استيراد الطيور الحية وبيض التفقيس والصيصان من هولندا بسبب مرض إنفلونزا الطيور عالي الضراوة.</p>  <p data-translation="<span>該部動物風險評估局局長Sanad al-Harbi博士說：禁令是在研究世界動物衛生組織（<span id=&quot;_3&quot;>OIE</span>）發布的警告小冊子後發布的，該小冊子報導了高致病性禽流感病例的出現。</span>">وأوضح مدير عام إدارة تقييم مخاطر الثروة الحيوانية بالوزارة الدكتور سند الحربي؛ قائلاً: إن الحظر جاء بعد دراسة النشرة التحذيرية الصادرة من المنظمة العالمية للصحة الحيوانية (<span id="_3" data-translation="OIE">OIE</span>)، التي تفيد بظهور إصابات بمرض إنفلونزا الطيور عالي الضراوة فيها.</p>

</div></div>