<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>也門軍隊在薩達政變的堡壘中取得新的進展</span>">قوات الجيش اليمني تحقق تقدماً جديداً بمعقل الانقلابيين في صعدة</h3><div>
<a href="https://sabq.org/%D9%88%D8%B3%D9%88%D9%85/%D8%B2%D9%8A%D8%A7%D8%B1%D8%A9-%D9%88%D9%84%D9%8A-%D8%A7%D9%84%D8%B9%D9%87%D8%AF-%D8%A5%D9%84%D9%89-%D8%A7%D9%84%D9%88%D9%84%D8%A7%D9%8A%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%AA%D8%AD%D8%AF%D8%A9-%D8%A7%D9%84%D8%A3%D9%85%D8%B1%D9%8A%D9%83%D9%8A%D8%A9" target="_self"><img src="https://cdn.sabq.org/design/sabq-new/img/flagHeader.png?version=1.253" alt="" width="220"> </a>

<div data-ng-view="">
<div>

<h2 data-translation="<span>阿拉伯聯盟</span>">مسنودة بالتحالف العربي</h2>

<p data-translation="<span>也門國民軍今天在阿拉伯聯盟的支持下，也門北部薩達省“卡塔夫”局取得了新的進展。</span>">حققت قوات الجيش الوطني اليمني مسنودة بالتحالف العربي اليوم، تقدماً جديداً في مديرية "كتاف" بمحافظة صعدة، شمال اليمن.</p>  <p data-translation="<span>軍方消息人士稱，根據武裝部隊的媒體中心說，軍隊首長肩章，發動了大規模的軍事行動，在此期間，他設法掙脫的“小迷戀”系列和“最偉大的痴迷”與約5公里溢出山“。</span>">وقال مصدر عسكري وفقاً للمركز الإعلامي للقوات المسلحة، إن قوات الجيش بمديرية كتاف، أطلقت عملية عسكرية واسعة، تمكنت خلالها من تحرير سلسلة جبال "الوسواس الأصغر" و"الوسواس الأكبر" التي يبلغ امتدادها حوالي 5 كم".</p>  <p data-translation="<span>他補充說，軍隊發動民兵政變站點北側肩章的大規模進攻，朝著“谷店”，設法掙脫山“Sudais塔”和“七”的山區和“八”，直到TBAB“狙擊手”的解放和Alsouh，還設法陸軍部隊編輯俯瞰“谷支”的山脈“Tur Hishim”。</span>">وأضاف أن القوات شنت هجومًا واسعًا على مواقع المليشيا الانقلابية شمالي كتاف، باتجاه "وادي الفرع"، وتمكنت من تحرير جبل "برج السديس" وجبال "السبعة" و"الثمانية" وصولاً إلى تحرير تباب "القناصين" ومنطقة الصوح، كما تمكنت قوات الجيش من تحرير سلسلة جبال "طور الهشيم" المطلة على "وادي الفرع".</p>

</div>
<p data-translation="<span>首頁/世界新聞</span>">
الرئيسية/

أخبار العالم

</p>

<div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>也門軍隊在薩達政變的堡壘中取得新的進展</span>">قوات الجيش اليمني تحقق تقدماً جديداً بمعقل الانقلابيين في صعدة</p>
<span itemprop="author">وكالة الأنباء السعودية (واس)</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>也門國民軍今天在阿拉伯聯盟的支持下，也門北部薩達省“卡塔夫”局取得了新的進展。</span>">حققت قوات الجيش الوطني اليمني مسنودة بالتحالف العربي اليوم، تقدماً جديداً في مديرية "كتاف" بمحافظة صعدة، شمال اليمن.</p>  <p data-translation="<span>軍方消息人士稱，根據武裝部隊的媒體中心說，軍隊首長肩章，發動了大規模的軍事行動，在此期間，他設法掙脫的“小迷戀”系列和“最偉大的痴迷”與約5公里溢出山“。</span>">وقال مصدر عسكري وفقاً للمركز الإعلامي للقوات المسلحة، إن قوات الجيش بمديرية كتاف، أطلقت عملية عسكرية واسعة، تمكنت خلالها من تحرير سلسلة جبال "الوسواس الأصغر" و"الوسواس الأكبر" التي يبلغ امتدادها حوالي 5 كم".</p>  <p data-translation="<span>他補充說，軍隊發動民兵政變站點北側肩章的大規模進攻，朝著“谷店”，設法掙脫山“Sudais塔”和“七”的山區和“八”，直到TBAB“狙擊手”的解放和Alsouh，還設法陸軍部隊編輯俯瞰“谷支”的山脈“Tur Hishim”。</span>">وأضاف أن القوات شنت هجومًا واسعًا على مواقع المليشيا الانقلابية شمالي كتاف، باتجاه "وادي الفرع"، وتمكنت من تحرير جبل "برج السديس" وجبال "السبعة" و"الثمانية" وصولاً إلى تحرير تباب "القناصين" ومنطقة الصوح، كما تمكنت قوات الجيش من تحرير سلسلة جبال "طور الهشيم" المطلة على "وادي الفرع".</p>
</div>
</div>
<div>
<p data-translation="<span>2018年4月4日 -  18拉賈布</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>現在的時間是07:24<span id=&quot;_0&quot;>PM</span> </span>">  07:24 <span id="_0" data-translation="PM">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>阿拉伯聯盟</span>">مسنودة بالتحالف العربي</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac4fbe451a7732d4de5e18a" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac4fbe951a773224de5e19b/5ac4fbe48fdc5.jpg" alt="">

</div>

<p data-translation="<span>也門國民軍今天在阿拉伯聯盟的支持下，也門北部薩達省“卡塔夫”局取得了新的進展。</span>">حققت قوات الجيش الوطني اليمني مسنودة بالتحالف العربي اليوم، تقدماً جديداً في مديرية "كتاف" بمحافظة صعدة، شمال اليمن.</p>  <p data-translation="<span>軍方消息人士稱，根據武裝部隊的媒體中心說，軍隊首長肩章，發動了大規模的軍事行動，在此期間，他設法掙脫的“小迷戀”系列和“最偉大的痴迷”與約5公里溢出山“。</span>">وقال مصدر عسكري وفقاً للمركز الإعلامي للقوات المسلحة، إن قوات الجيش بمديرية كتاف، أطلقت عملية عسكرية واسعة، تمكنت خلالها من تحرير سلسلة جبال "الوسواس الأصغر" و"الوسواس الأكبر" التي يبلغ امتدادها حوالي 5 كم".</p>  <p data-translation="<span>他補充說，軍隊發動民兵政變站點北側肩章的大規模進攻，朝著“谷店”，設法掙脫山“Sudais塔”和“七”的山區和“八”，直到TBAB“狙擊手”的解放和Alsouh，還設法陸軍部隊編輯俯瞰“谷支”的山脈“Tur Hishim”。</span>">وأضاف أن القوات شنت هجومًا واسعًا على مواقع المليشيا الانقلابية شمالي كتاف، باتجاه "وادي الفرع"، وتمكنت من تحرير جبل "برج السديس" وجبال "السبعة" و"الثمانية" وصولاً إلى تحرير تباب "القناصين" ومنطقة الصوح، كما تمكنت قوات الجيش من تحرير سلسلة جبال "طور الهشيم" المطلة على "وادي الفرع".</p>

</div>

</div>
</div></div>