<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Amir Asir commente l'étude dans tous les gouvernorats de la région</span>">أمير عسير يوجه بتعليق الدراسة في جميع محافظات&nbsp;المنطقة</h3><div>

<h2 data-translation="<span>Basé sur les rapports météorologiques et pour la sécurité des étudiants</span>">بناء على تقارير الأرصاد وحرصاً على سلامة الطلاب والطالبات</h2>

<p data-translation="<span>Amir Asir, Prince Faisal bin Khalid, a suspendu l'étude mardi dans l'enseignement public et universitaire dans tous les gouvernorats de garçons et de filles en raison des rapports de l'Autorité météorologique, et dans l'intérêt de la sécurité de nos étudiants et de la sécurité de tous.</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>
</div><div>
<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Amir Asir commente l'étude dans tous les gouvernorats de la région</span>">أمير عسير يوجه بتعليق الدراسة في جميع محافظات&nbsp;المنطقة</p>
<span itemprop="author">سعود الدعجاني</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-02 </span>
<p data-translation="<span>Amir Asir, Prince Faisal bin Khalid, a suspendu l'étude mardi dans l'enseignement public et universitaire dans tous les gouvernorats de garçons et de filles en raison des rapports de l'Autorité météorologique, et dans l'intérêt de la sécurité de nos étudiants et de la sécurité de tous.</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>
</div>
<div>
<p data-translation="<span>02 avril 2018 - 16 Rajab 1439</span>">   02 إبريل 2018 - 16 رجب 1439 </p>
<p data-translation="<span>Il est actuellement 09:06<span id=&quot;_0&quot;>AM</span> </span>">  09:06 <span id="_0" data-translation="AM">PM</span> </p>
</div>
<div>
<span> اخر تعديل</span>
<p data-translation="<span>02 avril 2018 - 16 Rajab 1439</span>">  02 إبريل 2018 - 16 رجب 1439</p>
<p data-translation="<span>09:05<span id=&quot;_1&quot;>AM</span> </span>">  09:05 <span id="_1" data-translation="AM">PM</span> </p>
</div>

<hr>
<p data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Basé sur les rapports météorologiques et pour la sécurité des étudiants</span>">بناء على تقارير الأرصاد وحرصاً على سلامة الطلاب والطالبات</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist" id="5ac270e8262d6bbb4f3ce759" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac2719cef9d14f62d8b4568/5ac270e844fff.jpg" alt="">

</div>

<p data-translation="<span>Amir Asir, Prince Faisal bin Khalid, a suspendu l'étude mardi dans l'enseignement public et universitaire dans tous les gouvernorats de garçons et de filles en raison des rapports de l'Autorité météorologique, et dans l'intérêt de la sécurité de nos étudiants et de la sécurité de tous.</span>"> وجه أمير عسير، الأمير فيصل بن خالد بتعليق الـدراسة غـداً الـثلاثاء في التعليم العام والجامعي بعموم محافظات المنطقة بنين وبنات نظراً للتقارير الواردة ‏من هيئة الأرصاد، وحرصاً على سلامة أبنائنا الطلاب والطالبات وسلامة الجميع.</p>

</div></div>