<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>保健省は、A型肝炎ワクチンをそのセンターで提供しています</span>">وزارة الصحة توفر تطعيمات التهاب الفيروس الكبدي "أ" في مراكزها</h3><div>

<h2 data-translation="<span>彼女は、最寄りのサイトを見直さないようにした人たちを招待した</span>">دعت من لم يحصل عليها لمراجعة أقرب موقع</h2>

<p data-translation="<span>保健省は、ワクチン接種を受けていない人に最寄りの保健センターを点検するように、A型肝炎ワクチンの量を地域や地方の異なる保健所に提供しました。</span>">وفرت وزارة الصحة كميات من تطعيمات التهاب الفيروس الكبدي "أ" في مراكزها الصحية بمختلف المناطق والمحافظات داعية إلى من لم يحصل على التطعيمات مراجعة أقرب مركز صحي.</p> <p data-translation="<span>同省はTwitterの公式アカウントを通じて、世界的なA型肝炎ワクチンの不足にもかかわらず、保健所に必要な量を提供し、予防接種を受けていない人々に最寄りの保健センターを見直し、番号937を呼びかけるよう呼びかけた。</span>">وقالت "الوزارة" عبر حسابها الرسمي في "تويتر" أنه رغم النقص العالمي في تطعيمات التهاب الفيروس الكبدي (أ) للأطفال الصحة توفر الكميات اللازمة في مراكزها الصحية وتدعو من لم يحصل على التطعيم لمراجعة أقرب مركز صحي، وللاستفسار الاتصال على الرقم ٩٣٧.</p>
</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>保健省は、A型肝炎ワクチンをそのセンターで提供しています</span>">وزارة الصحة توفر تطعيمات التهاب الفيروس الكبدي "أ" في مراكزها</p>
<span itemprop="author">ماجد الرفاعي</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>保健省は、ワクチン接種を受けていない人に最寄りの保健センターを点検するように、A型肝炎ワクチンの量を地域や地方の異なる保健所に提供しました。</span>">وفرت وزارة الصحة كميات من تطعيمات التهاب الفيروس الكبدي "أ" في مراكزها الصحية بمختلف المناطق والمحافظات داعية إلى من لم يحصل على التطعيمات مراجعة أقرب مركز صحي.</p> <p data-translation="<span>同省はTwitterの公式アカウントを通じて、世界的なA型肝炎ワクチンの不足にもかかわらず、保健所に必要な量を提供し、予防接種を受けていない人々に最寄りの保健センターを見直し、番号937を呼びかけるよう呼びかけた。</span>">وقالت "الوزارة" عبر حسابها الرسمي في "تويتر" أنه رغم النقص العالمي في تطعيمات التهاب الفيروس الكبدي (أ) للأطفال الصحة توفر الكميات اللازمة في مراكزها الصحية وتدعو من لم يحصل على التطعيم لمراجعة أقرب مركز صحي، وللاستفسار الاتصال على الرقم ٩٣٧.</p>
</div>
</div>
<div>
<p data-translation="<span>2018年4月4日〜18日Rajab</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>今の時間は<span id=&quot;_0&quot;>午後7:55です。</span> </span>">  07:35 <span id="_0" data-translation="午後7:55です。">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>彼女は、最寄りのサイトを見直さないようにした人たちを招待した</span>">دعت من لم يحصل عليها لمراجعة أقرب موقع</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac4fe8451a773344de5e18d" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac4fe8951a773214de5e18f/5ac4fe84947c3.jpg" alt="">

</div>

<p data-translation="<span>保健省は、ワクチン接種を受けていない人に最寄りの保健センターを点検するように、A型肝炎ワクチンの量を地域や地方の異なる保健所に提供しました。</span>">وفرت وزارة الصحة كميات من تطعيمات التهاب الفيروس الكبدي "أ" في مراكزها الصحية بمختلف المناطق والمحافظات داعية إلى من لم يحصل على التطعيمات مراجعة أقرب مركز صحي.</p> <p data-translation="<span>同省はTwitterの公式アカウントを通じて、世界的なA型肝炎ワクチンの不足にもかかわらず、保健所に必要な量を提供し、予防接種を受けていない人々に最寄りの保健センターを見直し、番号937を呼びかけるよう呼びかけた。</span>">وقالت "الوزارة" عبر حسابها الرسمي في "تويتر" أنه رغم النقص العالمي في تطعيمات التهاب الفيروس الكبدي (أ) للأطفال الصحة توفر الكميات اللازمة في مراكزها الصحية وتدعو من لم يحصل على التطعيم لمراجعة أقرب مركز صحي، وللاستفسار الاتصال على الرقم ٩٣٧.</p>

</div></div>