<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Al-Jawf皇太子は学生を満たし、学校で彼の同僚を救助し、彼を敬う</span>">أمير الجوف يلتقي الطالب منقذ زميله في الفسحة المدرسية ويكرمه</h3><div>
<a href="https://sabq.org/%D9%88%D8%B3%D9%88%D9%85/%D8%B2%D9%8A%D8%A7%D8%B1%D8%A9-%D9%88%D9%84%D9%8A-%D8%A7%D9%84%D8%B9%D9%87%D8%AF-%D8%A5%D9%84%D9%89-%D8%A7%D9%84%D9%88%D9%84%D8%A7%D9%8A%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%AA%D8%AD%D8%AF%D8%A9-%D8%A7%D9%84%D8%A3%D9%85%D8%B1%D9%8A%D9%83%D9%8A%D8%A9" target="_self"><img src="https://cdn.sabq.org/design/sabq-new/img/flagHeader.png?version=1.253" alt="" width="220"> </a>

<div data-ng-view="">
<div>

<h2 data-translation="<span>Skakaの事務所で、彼の人間の仕事を認めて感謝状を渡した</span>">في مكتبه بمدينة سكاكا وسلمه شهادة شكر تقديراً لعمله الإنساني</h2>

<p data-translation="<span>バール・ビン・スルタン・ビン・アブドゥル・アジズ（Bahr bin Sultan bin Abdul Aziz）の知事は、数日前に学校の庭で朝食を「シュノーケル」したときに同僚を救った。</span>">التقى أمير منطقة الجوف بدر بن سلطان بن عبدالعزيز طالب المرحلة الابتدائية الذي انقذ زميله عندما "غص" في وجبة إفطاره في الفسحة المدرسية قبل أيام.</p> <p data-translation="<span>「今日は坂上の事務所で息子と会いました。私は彼に感謝し、同僚を救出し、感謝状を渡したときの彼の人道的な活動に感謝しました。</span>">وقال مهرب الرويلي والد الطالب عبد الإله منقذ زميله لـ"سبق": أمير منطقة الجوف التقى ابني اليوم في مكتبه بمدينة سكاكا ، وسلم عليه وقدم له الشكر تقديراً لعمله الإنساني حينما أنقذ زميله ، وسلمه شهادة شكر .</p> <p data-translation="<span>「以前は」学生のアブドゥル=エル救助隊の詳細を発表した。同僚は学校で朝食を取った仲間で、彼はジュースを与えてシュノーケルのチームを飲み込むのを助けた。</span>">وكانت "سبق" قد نشرت تفاصيل قيام الطالب عبدالاله بإنقاذ زميله الذي غص بإفطاره في الفسحة المدرسية حيث أعطاه عبوة عصير ساعدته على بلع لقمته التي غص بها.</p>

</div>
<p data-translation="<span>ホーム/キングダム/地方</span>">
الرئيسية/

المملكة

/

محليات

</p>

<div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Al-Jawf皇太子は学生を満たし、学校で彼の同僚を救助し、彼を敬う</span>">أمير الجوف يلتقي الطالب منقذ زميله في الفسحة المدرسية ويكرمه</p>
<span itemprop="author">مهنا التميمي</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>バール・ビン・スルタン・ビン・アブドゥル・アジズ（Bahr bin Sultan bin Abdul Aziz）の知事は、数日前に学校の庭で朝食を「シュノーケル」したときに同僚を救った。</span>">التقى أمير منطقة الجوف بدر بن سلطان بن عبدالعزيز طالب المرحلة الابتدائية الذي انقذ زميله عندما "غص" في وجبة إفطاره في الفسحة المدرسية قبل أيام.</p> <p data-translation="<span>「今日は坂上の事務所で息子と会いました。私は彼に感謝し、同僚を救出し、感謝状を渡したときの彼の人道的な活動に感謝しました。</span>">وقال مهرب الرويلي والد الطالب عبد الإله منقذ زميله لـ"سبق": أمير منطقة الجوف التقى ابني اليوم في مكتبه بمدينة سكاكا ، وسلم عليه وقدم له الشكر تقديراً لعمله الإنساني حينما أنقذ زميله ، وسلمه شهادة شكر .</p> <p data-translation="<span>「以前は」学生のアブドゥル=エル救助隊の詳細を発表した。同僚は学校で朝食を取った仲間で、彼はジュースを与えてシュノーケルのチームを飲み込むのを助けた。</span>">وكانت "سبق" قد نشرت تفاصيل قيام الطالب عبدالاله بإنقاذ زميله الذي غص بإفطاره في الفسحة المدرسية حيث أعطاه عبوة عصير ساعدته على بلع لقمته التي غص بها.</p>
</div>
</div>
<div>
<p data-translation="<span>2018年4月4日〜18日Rajab</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>2時53分<span id=&quot;_0&quot;>AM</span> </span>">  02:53 <span id="_0" data-translation="AM">PM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Skakaの事務所で、彼の人間の仕事を認めて感謝状を渡した</span>">في مكتبه بمدينة سكاكا وسلمه شهادة شكر تقديراً لعمله الإنساني</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac4bc89059c600f7c82fc85" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac4bc90c3794bc20ca7b790/5ac4bc891aa2e.jpg" alt="">

</div>

<p data-translation="<span>バール・ビン・スルタン・ビン・アブドゥル・アジズ（Bahr bin Sultan bin Abdul Aziz）の知事は、数日前に学校の庭で朝食を「シュノーケル」したときに同僚を救った。</span>">التقى أمير منطقة الجوف بدر بن سلطان بن عبدالعزيز طالب المرحلة الابتدائية الذي انقذ زميله عندما "غص" في وجبة إفطاره في الفسحة المدرسية قبل أيام.</p> <p data-translation="<span>「今日は坂上の事務所で息子と会いました。私は彼に感謝し、同僚を救出し、感謝状を渡したときの彼の人道的な活動に感謝しました。</span>">وقال مهرب الرويلي والد الطالب عبد الإله منقذ زميله لـ"سبق": أمير منطقة الجوف التقى ابني اليوم في مكتبه بمدينة سكاكا ، وسلم عليه وقدم له الشكر تقديراً لعمله الإنساني حينما أنقذ زميله ، وسلمه شهادة شكر .</p> <p data-translation="<span>「以前は」学生のアブドゥル=エル救助隊の詳細を発表した。同僚は学校で朝食を取った仲間で、彼はジュースを与えてシュノーケルのチームを飲み込むのを助けた。</span>">وكانت "سبق" قد نشرت تفاصيل قيام الطالب عبدالاله بإنقاذ زميله الذي غص بإفطاره في الفسحة المدرسية حيث أعطاه عبوة عصير ساعدته على بلع لقمته التي غص بها.</p>

</div>

</div>
</div></div>