<div id="readability-page-1" class="page"><h3 class="title" data-translation="<span>Народ Аль-Улы - мученик родины «Фейсал аль-Анзи»,</span>">أهالي العلا يشيعون شهيد الوطن "فيصل العنزي"</h3><div>

<h2 data-translation="<span>Депутат провинции передал соболезнования «Принцу Медины» родственникам</span>">وكيل المحافظة نقل تعازي "أمير المدينة" لذويه</h2>

<p data-translation="<span>Народ провинции Аль-Ула, сегодня, мученик героя родины «Фейсал бин Лафи бин Авад Аль-Анзи», после молитв в мечеть Омар бин аль-Хаттабского районного университета.</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>На похоронах присутствовало большое количество граждан, должностных лиц и директоров правительственных ведомств.</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Депутат Аль-Улаи Фейсал бин Хамад аль-Мутаири передал соболезнования губернатора области Мадинаха принца Фейсала бен Салмана бин Абдулазиза отцу и сыновьям мученика.</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>


</div><div>

<div itemscope="" itemtype="http://schema.org/Article">
<p itemprop="headline" data-translation="<span>Народ Аль-Улы - мученик родины «Фейсал аль-Анзи»,</span>">أهالي العلا يشيعون شهيد الوطن "فيصل العنزي"</p>
<span itemprop="author">بدر الجبل</span>
<span itemprop="publisher">سبق</span>
<span itemprop="datePublished">2018-04-04 </span>
<div itemprop="articleBody">
<p data-translation="<span>Народ провинции Аль-Ула, сегодня, мученик героя родины «Фейсал бин Лафи бин Авад Аль-Анзи», после молитв в мечеть Омар бин аль-Хаттабского районного университета.</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>На похоронах присутствовало большое количество граждан, должностных лиц и директоров правительственных ведомств.</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Депутат Аль-Улаи Фейсал бин Хамад аль-Мутаири передал соболезнования губернатора области Мадинаха принца Фейсала бен Салмана бин Абдулазиза отцу и сыновьям мученика.</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>
</div>
</div>
<div>
<p data-translation="<span>Апрель 04, 2018 - 18 Раджаб</span>">   04 إبريل 2018 - 18 رجب 1439 </p>
<p data-translation="<span>12:09<span id=&quot;_0&quot;>AM .</span> </span>">  12:09 <span id="_0" data-translation="AM .">AM</span> </p>
</div>

<hr>
<p ng-if="material.materialType!='articles'" data-translation="<span>

</span>">

</p><h2 ng-if="material.secTitle" data-translation="<span>Депутат провинции передал соболезнования «Принцу Медины» родственникам</span>">وكيل المحافظة نقل تعازي "أمير المدينة" لذويه</h2>
<p data-translation="<span></span>"></p>
<div>
<img ng-if="material.coverPhotoExist &amp;&amp; material.materialType=='news'" id="5ac3ea9f059c60f77982fc5b" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5ac3eab1e40a562701460eeb/5ac3ea9f8527b.jpg" alt="">

</div>

<p data-translation="<span>Народ провинции Аль-Ула, сегодня, мученик героя родины «Фейсал бин Лафи бин Авад Аль-Анзи», после молитв в мечеть Омар бин аль-Хаттабского районного университета.</span>">شيع أهالي محافظة العلا، اليوم، شهيد الوطن البطل "فيصل بن لافي بن عواد العنزي"، بعد الصلاة عليه بجامع عمر بن الخطاب بحي الجامعة.</p>  <p data-translation="<span>На похоронах присутствовало большое количество граждан, должностных лиц и директоров правительственных ведомств.</span>">وكان في مقدمة المصلين والد وأبناء الشهيد وزملاؤه، كما شهد التشييع حضوراً كثيفاً من المواطنين والمسؤولين ومديري الدوائر الحكومية.</p>  <p data-translation="<span>Депутат Аль-Улаи Фейсал бин Хамад аль-Мутаири передал соболезнования губернатора области Мадинаха принца Фейсала бен Салмана бин Абдулазиза отцу и сыновьям мученика.</span>">ونقل وكيل محافظة العلا فيصل بن حمد المطيري تعازي الأمير فيصل بن سلمان بن عبدالعزيز أمير منطقة المدينة المنورة لوالد وأبناء الشهيد.</p>

</div></div>